<div>
    <app-home-caousel></app-home-caousel>
</div>

<!-- New Section  -->
<div class=" mai-section">
    <div class="row cod-cont">
        <div class="col-md-7    ">
            <img src="../../../assets/images/home/prod2.jpg" alt="Product feacher">
        </div>
        <div class="pb-5  col-md-4">
            <h1 class="coll-hand">A Living GIft</h1>
            <p class="mt-4 text-center para-bio">Express your true emotions with a gift that grows forever. Gift a Life!
                A living flower and plant gift is a thoughtful and sustainable way to brighten someone's day. Unlike cut
                flowers, these gifts continue to grow and flourish, serving as a lasting reminder of your care. Perfect
                for any occasion, they bring a touch of nature indoors, enhancing the ambiance and purifying the air.
                Whether it's a potted plant, a blooming flower, or a small indoor garden, this gift is a meaningful way
                to celebrate life and growth.
            </p>
            <div class="text-center mt-3 btn-div">

                <button class="btnsty"><a [routerLink]="['category', 'indoor']">Shop Now</a></button>
            </div>
        </div>
    </div>
</div>
<br>
<!-- indoor -->
<div class="container">
    <h1 class="coll-hand">Indoor Plants</h1>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="thumbnail">
                <a [routerLink]="['detail', 'indoor','1']">
                    <img src="../../../assets/images/PlantPalace/Indoor Plants/Aglaonema/aglaonema1.jpg">
                    <div class="overlay-text">Chinese Evergreen</div>
                </a>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="thumbnail">
                <a [routerLink]="['detail', 'indoor','10']">
                    <img src="../../../assets/images/PlantPalace/Indoor Plants/Chambeli/chambeli3.jpg">
                    <div class="overlay-text">Chambeli</div>
                </a>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="thumbnail">
                <a [routerLink]="['detail', 'indoor','12']">
                    <img
                        src="../../../assets/images/PlantPalace/Indoor Plants/Monstera deliciosa/Monstera deliciosa1.jpg">
                    <div class="overlay-text">Chese Plant</div>
                </a>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="thumbnail">
                <a [routerLink]="['detail', 'indoor','8']">
                    <img src="../../../assets/images/PlantPalace/Indoor Plants/Butterfly Ficcus/Butterfly ficcus1.jpg">
                    <div class="overlay-text">Butterfly Ficcus</div>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="viewall">
    <button class="btnsty">

        <a [routerLink]="['category', 'indoor']" class="  ">view all</a>
    </button>

</div>
<div class=" mai-section" >
    <div class="row cod-cont">
        <div class="pb-5  col-md-4">
            <h1 class="coll-hand">
                The best place to buy plants online</h1>
            <p class="mt-4 text-center para-bio">A lovely garden is the perfect place to unwind following a tough day in
                the office or through the Spring and Summer. A lot of people think a green thumb can’t be made and fear
                they kill everything they plant. Sometimes they believe they once they landscape their yard, it’ll be
                overrun by weeds and wildlife
            </p>
            <div class="text-center mt-3 btn-div">

                <button class="btnsty"><a [routerLink]="['category', 'outdoor']">Shop Now</a></button>
            </div>
        </div>
        <div class="col-md-7    ">
            <img src="../../../assets/images/home/ban3.jpg" alt="Product feacher">
        </div>

    </div>
</div>
<br>
<!-- outdoor -->

<div class="container">
    <h1 class="coll-hand">Outdoor Plants</h1>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="thumbnail">
                <a [routerLink]="['detail', 'outdoor','19']">
                    <img src="../../../assets/images/PlantPalace/Outdoor Plants/Bismarckia Palm/bismarckia-Palm1.jpg">
                    <div class="overlay-text">Bismarckia</div>
                </a>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="thumbnail">
                <a [routerLink]="['detail', 'outdoor','20']">
                    <img src="../../../assets/images/PlantPalace/Outdoor Plants/Cassia fistula/cassia-fistula1.jpg">
                    <div class="overlay-text">Golden Shower Trees</div>
                </a>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="thumbnail">
                <a [routerLink]="['detail', 'outdoor','17']">
                    <img src="../../../assets/images/PlantPalace/Outdoor Plants/Areca Palm/areca-palm2.jpg">
                    <div class="overlay-text">Golden Cane Palm</div>
                </a>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="thumbnail">
                <a [routerLink]="['detail', 'outdoor','23']">
                    <img src="../../../assets/images/PlantPalace/Outdoor Plants/Grafted Cactus/grafted-cactus1.jpg">
                    <div class="overlay-text">Grafted Cactus</div>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="viewall">
    <button class="btnsty">
        <a [routerLink]="['category', 'outdoor']" class="">view all</a>
    </button>

</div>
<div class="carousel-inner">
    <div class="carousel-item active">
        <img src="../../../assets/images/home/ban1.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
            <h2>Rare plants send straight to your home.</h2>
            <p class="para-bio">Lush Plants is always in search of the newest rare plants. We are working together with
                dozens of growers that all have an unique collection of plants. With our sturdy boxes we send the plants
                straight from the grower’s nursery all across Europe. </p>
                <div class=" viewall">
                    <button class="btnsty"><a [routerLink]="['gallery']">View Gallery</a></button>
                </div>
        </div>
    </div>
</div>
<!-- flowered -->

<div class="container mt-2">
    <h1 class="coll-hand">Flowering Plants</h1>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="thumbnail">
                <a [routerLink]="['detail', 'flowered','25']">
                    <img src="../../../assets/images/PlantPalace/Flowering Plants/adenium/adenium1.jpg">
                    <div class="overlay-text">Adenium</div>
                </a>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="thumbnail">
                <a [routerLink]="['detail', 'flowered','27']">
                    <img src="../../../assets/images/PlantPalace/Flowering Plants/anthurium/anthurium1.jpg">
                    <div class="overlay-text">Anthurium</div>
                </a>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="thumbnail">
                <a [routerLink]="['detail', 'flowered','33']">
                    <img src="../../../assets/images/PlantPalace/Flowering Plants/jasmine/jasmine1.webp">
                    <div class="overlay-text">Chambeli</div>
                </a>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="thumbnail">
                <a [routerLink]="['detail', 'flowered','34']">
                    <img src="../../../assets/images/PlantPalace/Flowering Plants/pansy/pansy1.jpg">
                    <div class="overlay-text">Pansy</div>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="viewall">
    <button class="btnsty">
        <a [routerLink]="['category', 'flowered']" class="">view all</a>
    </button>

</div>

<div class="slider">
    <h1 class="coll-hand">Featured Plants</h1>
    <div class="slide-track">
        <div class="slide" *ngFor="let plant of plants">
            <a [routerLink]="['detail', 'indoor', plant.id]">
                <img [src]="plant.img3" alt="">
                <p>{{plant.commonname}} Rs.({{plant.price}})</p>

            </a>
        </div>
    </div>
</div>