/* You can add global styles to this file, and also import other style files */
.validation-error {
    color: red;
    margin-top: 2px;
}
body{
    background-color: white !important;
}
.btnsty a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.btnsty a:hover {
    text-decoration: none;
    color: #c2651c;
}

.btnsty{
    background: #c2651c;
    width: 110px;
    font-size: 16px;
    font-weight: 500;
    padding: 8px 7px;
    border-radius: 10px;
}
.btnsty:hover{
background-color: white;
color: #c2651c;
text-decoration-color: #c2651c;
border-color: #c2651c;
transform: translate3d("28deg");
}

.btnsty:hover a{
    color: #c2651c;
}
@media screen and (max-width: 990px) {
    .search-bar{
        display: none;
    }
}
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
